/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/

/resources
/03000_files
/04000_files
/05000_files

.scraped-data.xlsx

/data 
